---
import Attribution from "@/components/attribution.astro";
import Header from "@/components/header.astro";

import { ViewTransitions } from "astro:transitions";

import { pwaAssetsHead } from "virtual:pwa-assets/head";
import { pwaInfo } from "virtual:pwa-info";

import "@/assets/styles/globals.css";
import "@fontsource-variable/inconsolata";
import "@fontsource-variable/inter";
import "@fontsource-variable/lora";

const name = "Glossary"
const application_name = "Glossary";
const description = "Glossary is the ultimate free dictionary app, perfect for language learners and students! Search and discover word meanings, definitions, synonyms, and usage examples instantly. Use our dictionary app for quick word lookup and vocabulary building."
const locale = "en"
const author = "princemuel"
const canonical= new URL(Astro.url.pathname, Astro.site)
---

<html lang={locale} data-theme="light" data-font="serif">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="color-scheme" content="dark light" />
    {/* Primary Meta Tags */}
    <meta name="application-name" content={application_name} />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={[].join(",")} />
    <meta name="creator" content={author} />
    <meta name="publisher" content={author} />

    <slot name="head" />
    <link
      rel="sitemap"
      type="application/xml"
      href={new URL("/sitemap-index.xml", Astro.site)}
    />

    {/*  Favicons / Manifest / Robots  */}
    <Fragment set:html={pwaInfo?.webManifest.linkTag} />
    {pwaAssetsHead.links.map((link) => <link {...link} />)}
    <meta name="robots" content="index follow" />
    <meta
      name="googlebot"
      content="max-snippet:160 max-image-preview:-1 max-video-preview:-1"
    />

    {/* Open Graph / Facebook */}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={locale} />
    <meta property="og:site_name" content={application_name} />
    <meta property="og:title" content={name} />
    <meta property="og:url" content={canonical} />
    <meta property="og:description" content={description} />
    {/* Twitter */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content={`@${author}`} />
    <meta name="twitter:title" content={name} />
    <meta name="twitter:url" content={canonical} />
    <meta name="twitter:description" content={description} />

    {/* Widgets */}
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#fafafa"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content={pwaAssetsHead.themeColor?.content}
    />
    <meta name="msapplication-TileColor" content="#fafafa" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-status-bar-style" content="black-translucent" />

    <ViewTransitions />
    <slot name="jsonld" />
  </head>
  <body
    class:list={[
      "relative font-normal antialiased",
      "bg-white text-grey-900 dark:bg-grey-900 dark:text-white",
      "sans:font-sans mono:font-mono serif:font-serif",
      "grid min-h-screen grid-rows-[auto_1fr_auto] supports-[min-height:100svh]:min-h-svh",
    ]}
  >
    <Header />
    <slot />
    <Attribution />
  </body>
</html>
